
<%= form_for([ @position, @shift]) do |f| %>
  <% if @shift.errors.any? %>
    <div id= "error-explanation">
      <h2><%= pluralize(@shift.errors.count, "error") %> prohibited this shifts from being saved:</h2>

      <ul>
      <% @shift.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class= "field">
    <%= f.number_field :shift_number,placeholder: 'Shift Number' %>
  </div>
  <div class= "field">
    <%= f.number_field :day_of_week ,placeholder: 'Day' %>
  </div>
  <div class= "field">
    <%= f.time_field :start_time %>
  </div>
  <div class= "field">
    <%= f.time_field :end_time  %>
  </div>
  <div class= "submit">
    <%= f.submit %>
  </div>

<% end %>
